.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  
}


#squares {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  width: 327px;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.square {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 0 5px 5px 0;
  padding: 0;
}

.mole {
  background-image: url(https://content.screencast.com/users/Ryan.Regalado/folders/Apps/media/75501d12-cec5-4a5b-a840-13817c7271d2/IMG_0626.JPG);
  background-size: cover;
}